In [38]:
import pandas as pd

df_arrivals = pd.read_html("https://www.krakowairport.pl/pl/pasazer/loty/przyloty")
df_arrivals

[   RozkÅ.                  Kierunek Numer lotu  Status        Unnamed: 4
 0    13:30           AMSTERDAM (AMS)    KL 1325     NaN  SzczegÃ³Åy lotu
 1    13:35             CATANIA (CTA)    FR 2727     NaN  SzczegÃ³Åy lotu
 2    13:55              ZURYCH (ZRH)    LX 1370     NaN  SzczegÃ³Åy lotu
 3    13:55            TEL AVIV (TLV)    W6 2098     NaN  SzczegÃ³Åy lotu
 4    14:00             WIEDEÅ (VIE)     OS 679     NaN  SzczegÃ³Åy lotu
 5    14:20            WARSZAWA (WAW)    LO 3905     NaN  SzczegÃ³Åy lotu
 6    14:40     PARYÅ» BEAUVAIS (BVA)    FR 3436     NaN  SzczegÃ³Åy lotu
 7    15:10               AMMAN (AMM)    FR 1478     NaN  SzczegÃ³Åy lotu
 8    15:20        LONDYN LUTON (LTN)    FR 1813     NaN  SzczegÃ³Åy lotu
 9    15:25             BAZYLEA (BSL)    W6 2030     NaN  SzczegÃ³Åy lotu
 10   15:40           STAVANGER (SVG)    W6 2044     NaN  SzczegÃ³Åy lotu
 11   16:00            WARSZAWA (WAW)    LO 3919     NaN  SzczegÃ³Åy lotu
 12   16:25            CAGLIARI (CAG)    FR 4425     NaN  SzczegÃ³Åy lotu
 13   16:25  BRUKSELA CHARLEROI (CRL)    FR 4934     NaN  SzczegÃ³Åy lotu
 14   16:50          BIRMINGHAM (BHX)    FR 1465     NaN  SzczegÃ³Åy lotu
 15   16:50           MONACHIUM (MUC)    LH 1624     NaN  SzczegÃ³Åy lotu
 16   16:55      TENERIFE SOUTH (TFS)    FR 2654     NaN  SzczegÃ³Åy lotu
 17   17:00           AMSTERDAM (AMS)    KL 1327     NaN  SzczegÃ³Åy lotu
 18   17:05      LEEDS BRADFORD (LBA)    FR 2332     NaN  SzczegÃ³Åy lotu
 19   17:15           KOPENHAGA (CPH)    FR 2725     NaN  SzczegÃ³Åy lotu
 20   17:15           EINDHOVEN (EIN)    W6 2076     NaN  SzczegÃ³Åy lotu
 21   17:30            WARSZAWA (WAW)    LO 3923     NaN  SzczegÃ³Åy lotu
 22   17:50               PORTO (OPO)    FR 3048     NaN  SzczegÃ³Åy lotu
 23   17:55               MALTA (MLA)    FR 7114     NaN  SzczegÃ³Åy lotu
 24   18:00     OSLO GARDERMOEN (OSL)    W6 2034     NaN  SzczegÃ³Åy lotu
 25   18:05            HELSINKI (HEL)    AY 1165     NaN  SzczegÃ³Åy lotu
 26   18:20           FRANKFURT (FRA)    LH 1368     NaN  SzczegÃ³Åy lotu
 27   18:45          MANCHESTER (MAN)    FR 2141     NaN  SzczegÃ³Åy lotu
 28   18:50           AMSTERDAM (AMS)    KL 1329     NaN  SzczegÃ³Åy lotu
 29   19:00          MANCHESTER (MAN)   EZY 2263     NaN  SzczegÃ³Åy lotu
 30   19:00               PAFOS (PFO)    FR 5086     NaN  SzczegÃ³Åy lotu
 31   19:10              PARYÅ» (CDG)   EJU 4667     NaN  SzczegÃ³Åy lotu
 32   19:10           BARCELONA (BCN)    FR 3035     NaN  SzczegÃ³Åy lotu
 33   19:35     OSLO GARDERMOEN (OSL)    DY 8434     NaN  SzczegÃ³Åy lotu
 34   19:50      LONDYN GATWICK (LGW)   EZY 8823     NaN  SzczegÃ³Åy lotu
 35   20:35          BIRMINGHAM (BHX)   EZY 6629     NaN  SzczegÃ³Åy lotu
 36   20:45              DUBLIN (DUB)    FR 1901     NaN  SzczegÃ³Åy lotu
 37   20:50            WARSZAWA (WAW)    LO 3921     NaN  SzczegÃ³Åy lotu
 38   21:15              MALAGA (AGP)    FR 2588     NaN  SzczegÃ³Åy lotu
 39   21:20       FUERTEVENTURA (FUE)    FR 9836     NaN  SzczegÃ³Åy lotu
 40   21:20             SHARJAH (SHJ)     G9 748     NaN  SzczegÃ³Åy lotu
 41   21:50       RZYM CIAMPINO (CIA)    FR 1470     NaN  SzczegÃ³Åy lotu
 42   21:55              BERGEN (BGO)    W6 2036     NaN  SzczegÃ³Åy lotu
 43   22:00            ABERDEEN (ABZ)    FR 8842     NaN  SzczegÃ³Åy lotu
 44   22:20             LARNAKA (LCA)    W6 2052     NaN  SzczegÃ³Åy lotu
 45   22:50         PARYÅ» ORLY (ORY)     LO 338     NaN  SzczegÃ³Åy lotu
 46   22:55           AMSTERDAM (AMS)    KL 1331     NaN  SzczegÃ³Åy lotu
 47   23:10           BARCELONA (BCN)    W6 2096     NaN  SzczegÃ³Åy lotu
 48   23:15           FRANKFURT (FRA)    LH 1370     NaN  SzczegÃ³Åy lotu
 49   23:25               DUBAJ (DXB)    FZ 1783     NaN  SzczegÃ³Åy lotu
 50   23:30        GRAN CANARIA (LPA)    FR 8692     NaN  SzczegÃ³Åy lotu
 51   23:35     LONDYN STANSTED (STN)    FR 2362     NaN  SzczegÃ³Åy lotu
 52   23:35           MONACHIUM (MUC)    LH 1626     NaN  SzczegÃ³Åy lotu
 53   23:35             WIEDEÅ (VIE)     OS 683     NaN  SzczegÃ³Åy lotu
 54   23:35      RZYM FIUMICINO (FCO)    W6 2062     NaN  SzczegÃ³Åy lotu
 55   23:45            ABU ZABI (AUH)    W6 2094     NaN  SzczegÃ³Åy lotu
 56   23:50            WARSZAWA (WAW)    LO 3911     NaN  SzczegÃ³Åy lotu
 57   23:55    MEDIOLAN BERGAMO (BGY)     FR 888     NaN  SzczegÃ³Åy lotu
 58   23:55      LONDYN GATWICK (LGW)    W6 2008     NaN  SzczegÃ³Åy lotu,
    RozkÅ.          Kierunek Numer lotu  Status        Unnamed: 4
 0    00:05      AGADIR (AGA)    FR 9279     NaN  SzczegÃ³Åy lotu
 1    00:45     LIZBONA (LIS)    FR 4024     NaN  SzczegÃ³Åy lotu
 2    08:10    HELSINKI (HEL)    AY 1161     NaN  SzczegÃ³Åy lotu
 3    08:40     ANTALIA (AYT)     XQ 432     NaN  SzczegÃ³Åy lotu
 4    08:45     BAZYLEA (BSL)   EZS 1283     NaN  SzczegÃ³Åy lotu
 ..     ...               ...        ...     ...               ...
 89   19:35  MANCHESTER (MAN)    FR 2148     NaN  SzczegÃ³Åy lotu
 90   19:50      BERGEN (BGO)    DY 1028     NaN  SzczegÃ³Åy lotu
 91   19:55   LIVERPOOL (LPL)    FR 6360     NaN  SzczegÃ³Åy lotu
 92   20:00       MALTA (MLA)    FR 7114     NaN  SzczegÃ³Åy lotu
 93   20:05      MADRYT (MAD)    FR 5516     NaN  SzczegÃ³Åy lotu

 [94 rows x 5 columns]]

In [39]:
tables = pd.read_html("https://www.krakowairport.pl/pl/pasazer/loty/przyloty")
len(tables)

2

In [40]:
tables[0]

   RozkÅ.                  Kierunek Numer lotu  Status        Unnamed: 4
0    13:30           AMSTERDAM (AMS)    KL 1325     NaN  SzczegÃ³Åy lotu
1    13:35             CATANIA (CTA)    FR 2727     NaN  SzczegÃ³Åy lotu
2    13:55              ZURYCH (ZRH)    LX 1370     NaN  SzczegÃ³Åy lotu
3    13:55            TEL AVIV (TLV)    W6 2098     NaN  SzczegÃ³Åy lotu
4    14:00             WIEDEÅ (VIE)     OS 679     NaN  SzczegÃ³Åy lotu
5    14:20            WARSZAWA (WAW)    LO 3905     NaN  SzczegÃ³Åy lotu
6    14:40     PARYÅ» BEAUVAIS (BVA)    FR 3436     NaN  SzczegÃ³Åy lotu
7    15:10               AMMAN (AMM)    FR 1478     NaN  SzczegÃ³Åy lotu
8    15:20        LONDYN LUTON (LTN)    FR 1813     NaN  SzczegÃ³Åy lotu
9    15:25             BAZYLEA (BSL)    W6 2030     NaN  SzczegÃ³Åy lotu
10   15:40           STAVANGER (SVG)    W6 2044     NaN  SzczegÃ³Åy lotu
11   16:00            WARSZAWA (WAW)    LO 3919     NaN  SzczegÃ³Åy lotu
12   16:25            CAGLIARI (CAG)    FR 4425     NaN  SzczegÃ³Åy lotu
13   16:25  BRUKSELA CHARLEROI (CRL)    FR 4934     NaN  SzczegÃ³Åy lotu
14   16:50          BIRMINGHAM (BHX)    FR 1465     NaN  SzczegÃ³Åy lotu
15   16:50           MONACHIUM (MUC)    LH 1624     NaN  SzczegÃ³Åy lotu
16   16:55      TENERIFE SOUTH (TFS)    FR 2654     NaN  SzczegÃ³Åy lotu
17   17:00           AMSTERDAM (AMS)    KL 1327     NaN  SzczegÃ³Åy lotu
18   17:05      LEEDS BRADFORD (LBA)    FR 2332     NaN  SzczegÃ³Åy lotu
19   17:15           KOPENHAGA (CPH)    FR 2725     NaN  SzczegÃ³Åy lotu
20   17:15           EINDHOVEN (EIN)    W6 2076     NaN  SzczegÃ³Åy lotu
21   17:30            WARSZAWA (WAW)    LO 3923     NaN  SzczegÃ³Åy lotu
22   17:50               PORTO (OPO)    FR 3048     NaN  SzczegÃ³Åy lotu
23   17:55               MALTA (MLA)    FR 7114     NaN  SzczegÃ³Åy lotu
24   18:00     OSLO GARDERMOEN (OSL)    W6 2034     NaN  SzczegÃ³Åy lotu
25   18:05            HELSINKI (HEL)    AY 1165     NaN  SzczegÃ³Åy lotu
26   18:20           FRANKFURT (FRA)    LH 1368     NaN  SzczegÃ³Åy lotu
27   18:45          MANCHESTER (MAN)    FR 2141     NaN  SzczegÃ³Åy lotu
28   18:50           AMSTERDAM (AMS)    KL 1329     NaN  SzczegÃ³Åy lotu
29   19:00          MANCHESTER (MAN)   EZY 2263     NaN  SzczegÃ³Åy lotu
30   19:00               PAFOS (PFO)    FR 5086     NaN  SzczegÃ³Åy lotu
31   19:10              PARYÅ» (CDG)   EJU 4667     NaN  SzczegÃ³Åy lotu
32   19:10           BARCELONA (BCN)    FR 3035     NaN  SzczegÃ³Åy lotu
33   19:35     OSLO GARDERMOEN (OSL)    DY 8434     NaN  SzczegÃ³Åy lotu
34   19:50      LONDYN GATWICK (LGW)   EZY 8823     NaN  SzczegÃ³Åy lotu
35   20:35          BIRMINGHAM (BHX)   EZY 6629     NaN  SzczegÃ³Åy lotu
36   20:45              DUBLIN (DUB)    FR 1901     NaN  SzczegÃ³Åy lotu
37   20:50            WARSZAWA (WAW)    LO 3921     NaN  SzczegÃ³Åy lotu
38   21:15              MALAGA (AGP)    FR 2588     NaN  SzczegÃ³Åy lotu
39   21:20       FUERTEVENTURA (FUE)    FR 9836     NaN  SzczegÃ³Åy lotu
40   21:20             SHARJAH (SHJ)     G9 748     NaN  SzczegÃ³Åy lotu
41   21:50       RZYM CIAMPINO (CIA)    FR 1470     NaN  SzczegÃ³Åy lotu
42   21:55              BERGEN (BGO)    W6 2036     NaN  SzczegÃ³Åy lotu
43   22:00            ABERDEEN (ABZ)    FR 8842     NaN  SzczegÃ³Åy lotu
44   22:20             LARNAKA (LCA)    W6 2052     NaN  SzczegÃ³Åy lotu
45   22:50         PARYÅ» ORLY (ORY)     LO 338     NaN  SzczegÃ³Åy lotu
46   22:55           AMSTERDAM (AMS)    KL 1331     NaN  SzczegÃ³Åy lotu
47   23:10           BARCELONA (BCN)    W6 2096     NaN  SzczegÃ³Åy lotu
48   23:15           FRANKFURT (FRA)    LH 1370     NaN  SzczegÃ³Åy lotu
49   23:25               DUBAJ (DXB)    FZ 1783     NaN  SzczegÃ³Åy lotu
50   23:30        GRAN CANARIA (LPA)    FR 8692     NaN  SzczegÃ³Åy lotu
51   23:35     LONDYN STANSTED (STN)    FR 2362     NaN  SzczegÃ³Åy lotu
52   23:35           MONACHIUM (MUC)    LH 1626     NaN  SzczegÃ³Åy lotu
53   23:35             WIEDEÅ (VIE)     OS 683     NaN  SzczegÃ³Åy lotu
54   23:35      RZYM FIUMICINO (FCO)    W6 2062     NaN  SzczegÃ³Åy lotu
55   23:45            ABU ZABI (AUH)    W6 2094     NaN  SzczegÃ³Åy lotu
56   23:50            WARSZAWA (WAW)    LO 3911     NaN  SzczegÃ³Åy lotu
57   23:55    MEDIOLAN BERGAMO (BGY)     FR 888     NaN  SzczegÃ³Åy lotu
58   23:55      LONDYN GATWICK (LGW)    W6 2008     NaN  SzczegÃ³Åy lotu

In [41]:
tables[1]

   RozkÅ.          Kierunek Numer lotu  Status        Unnamed: 4
0    00:05      AGADIR (AGA)    FR 9279     NaN  SzczegÃ³Åy lotu
1    00:45     LIZBONA (LIS)    FR 4024     NaN  SzczegÃ³Åy lotu
2    08:10    HELSINKI (HEL)    AY 1161     NaN  SzczegÃ³Åy lotu
3    08:40     ANTALIA (AYT)     XQ 432     NaN  SzczegÃ³Åy lotu
4    08:45     BAZYLEA (BSL)   EZS 1283     NaN  SzczegÃ³Åy lotu
..     ...               ...        ...     ...               ...
89   19:35  MANCHESTER (MAN)    FR 2148     NaN  SzczegÃ³Åy lotu
90   19:50      BERGEN (BGO)    DY 1028     NaN  SzczegÃ³Åy lotu
91   19:55   LIVERPOOL (LPL)    FR 6360     NaN  SzczegÃ³Åy lotu
92   20:00       MALTA (MLA)    FR 7114     NaN  SzczegÃ³Åy lotu
93   20:05      MADRYT (MAD)    FR 5516     NaN  SzczegÃ³Åy lotu

[94 rows x 5 columns]

In [42]:
df_arrivals = tables[1]
df_arrivals

   RozkÅ.          Kierunek Numer lotu  Status        Unnamed: 4
0    00:05      AGADIR (AGA)    FR 9279     NaN  SzczegÃ³Åy lotu
1    00:45     LIZBONA (LIS)    FR 4024     NaN  SzczegÃ³Åy lotu
2    08:10    HELSINKI (HEL)    AY 1161     NaN  SzczegÃ³Åy lotu
3    08:40     ANTALIA (AYT)     XQ 432     NaN  SzczegÃ³Åy lotu
4    08:45     BAZYLEA (BSL)   EZS 1283     NaN  SzczegÃ³Åy lotu
..     ...               ...        ...     ...               ...
89   19:35  MANCHESTER (MAN)    FR 2148     NaN  SzczegÃ³Åy lotu
90   19:50      BERGEN (BGO)    DY 1028     NaN  SzczegÃ³Åy lotu
91   19:55   LIVERPOOL (LPL)    FR 6360     NaN  SzczegÃ³Åy lotu
92   20:00       MALTA (MLA)    FR 7114     NaN  SzczegÃ³Åy lotu
93   20:05      MADRYT (MAD)    FR 5516     NaN  SzczegÃ³Åy lotu

[94 rows x 5 columns]

In [43]:
df_arrivals = df_arrivals.drop(columns=["Unnamed: 4"])
df_arrivals

   RozkÅ.          Kierunek Numer lotu  Status
0    00:05      AGADIR (AGA)    FR 9279     NaN
1    00:45     LIZBONA (LIS)    FR 4024     NaN
2    08:10    HELSINKI (HEL)    AY 1161     NaN
3    08:40     ANTALIA (AYT)     XQ 432     NaN
4    08:45     BAZYLEA (BSL)   EZS 1283     NaN
..     ...               ...        ...     ...
89   19:35  MANCHESTER (MAN)    FR 2148     NaN
90   19:50      BERGEN (BGO)    DY 1028     NaN
91   19:55   LIVERPOOL (LPL)    FR 6360     NaN
92   20:00       MALTA (MLA)    FR 7114     NaN
93   20:05      MADRYT (MAD)    FR 5516     NaN

[94 rows x 4 columns]

In [ ]:
%pip install --quiet deep-translator
from deep_translator import GoogleTranslator

In [45]:
# Function to translate text
def translate_text(text):
    try:
        return GoogleTranslator(source='pl', target='en').translate(text)
    except Exception as e:
        print(f"Error translating '{text}': {e}")
        return text

# Apply to all cells
df_arrivals = df_arrivals.applymap(translate_text)

/var/folders/3w/05xwp7qj761gvqj6rcry6n700000gp/T/ipykernel_60868/2624253728.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_arrivals = df_arrivals.applymap(translate_text)

Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated

In [46]:
df_arrivals = df_arrivals.rename(columns={"RozkÅ.": "Schedule",
               "Kierunek": "Direction",
               "Numer lotu": "Flight Number"
               })

df_arrivals["Arrival or Departure"] = "Arrival"

df_arrivals.head()

  Schedule       Direction Flight Number  Status Arrival or Departure
0    00:05    AGADIR (AGA)       FR 9279     NaN              Arrival
1    00:45    LISBON (NOV)       FR 4024     NaN              Arrival
2    08:10  HELSINKI (HEL)       AY 1161     NaN              Arrival
3    08:40   ANTALIA (AYT)        XQ 432     NaN              Arrival
4    08:45     BASEL (BSL)      EZS 1283     NaN              Arrival

In [47]:
# Do the same for departures?

df = pd.read_html("https://www.krakowairport.pl/pl/pasazer/loty/odloty")
df

[   RozkÅ.                Kierunek Numer lotu             Status  \
 0    13:30   LONDYN STANSTED (STN)    FR 2435  Ostatnie wezwanie
 1    13:30          WARSZAWA (WAW)    LO 3920    Gate zamkniÄty
 2    13:40         KOPENHAGA (CPH)    FR 2724    Gate zamkniÄty
 3    13:45           BAZYLEA (BSL)   EZS 1284    Gate zamkniÄty
 4    14:00         AMSTERDAM (AMS)    KL 1326         Go to gate
 5    14:10            AGADIR (AGA)    FR 9278  Ostatnie wezwanie
 6    14:30           CATANIA (CTA)    FR 2726      Odprawa 23-27
 7    14:40           WIEDEÅ (VIE)     OS 680         Odprawa 43
 8    14:45            ZURYCH (ZRH)    LX 1371         Odprawa 43
 9    15:00          WARSZAWA (WAW)    LO 3906          Odprawa 8
 10   15:00           LARNAKA (LCA)    W6 2051      Odprawa 28-31
 11   15:45      LONDYN LUTON (LTN)    FR 1812      Odprawa 20-27
 12   16:00           LIZBONA (LIS)    FR 4023      Odprawa 23-27
 13   16:15          ABERDEEN (ABZ)    FR 8843      Odprawa 23-27
 14   16:25            BERGEN (BGO)    W6 2035      Odprawa 28-31
 15   16:35         BARCELONA (BCN)    W6 2095      Odprawa 28-31
 16   17:00       PARYÅ» ORLY (ORY)     LO 337                NaN
 17   17:20    TENERIFE SOUTH (TFS)    FR 2655      Odprawa 23-27
 18   17:25     RZYM CIAMPINO (CIA)    FR 1469      Odprawa 23-27
 19   17:30    LEEDS BRADFORD (LBA)    FR 2333      Odprawa 23-27
 20   17:35         MONACHIUM (MUC)    LH 1625                NaN
 21   17:40         AMSTERDAM (AMS)    KL 1328                NaN
 22   18:00    LONDYN GATWICK (LGW)    W6 2007      Odprawa 28-31
 23   18:10   LONDYN STANSTED (STN)    FR 2363      Odprawa 23-27
 24   18:15             PORTO (OPO)    FR 3047      Odprawa 23-27
 25   18:15          WARSZAWA (WAW)    LO 3924                NaN
 26   18:20             MALTA (MLA)    FR 7115      Odprawa 23-27
 27   18:35    RZYM FIUMICINO (FCO)    W6 2061      Odprawa 28-31
 28   18:50          HELSINKI (HEL)    AY 1166                NaN
 29   19:00         FRANKFURT (FRA)    LH 1369                NaN
 30   19:10  MEDIOLAN BERGAMO (BGY)     FR 889      Odprawa 23-27
 31   19:25             PAFOS (PFO)    FR 5087      Odprawa 23-27
 32   19:30         AMSTERDAM (AMS)    KL 1330                NaN
 33   19:35         BARCELONA (BCN)    FR 3036      Odprawa 23-27
 34   19:40        MANCHESTER (MAN)   EZY 2264                NaN
 35   19:55            PARYÅ» (CDG)   EJU 4668                NaN
 36   20:15   OSLO GARDERMOEN (OSL)    DY 8435                NaN
 37   20:30    LONDYN GATWICK (LGW)   EZY 8824                NaN
 38   21:10        BIRMINGHAM (BHX)   EZY 6630                NaN
 39   21:10            DUBLIN (DUB)    FR 1902      Odprawa 23-27
 40   22:10           SHARJAH (SHJ)     G9 749                NaN

           Unnamed: 4
 0   SzczegÃ³Åy lotu
 1   SzczegÃ³Åy lotu
 2   SzczegÃ³Åy lotu
 3   SzczegÃ³Åy lotu
 4   SzczegÃ³Åy lotu
 5   SzczegÃ³Åy lotu
 6   SzczegÃ³Åy lotu
 7   SzczegÃ³Åy lotu
 8   SzczegÃ³Åy lotu
 9   SzczegÃ³Åy lotu
 10  SzczegÃ³Åy lotu
 11  SzczegÃ³Åy lotu
 12  SzczegÃ³Åy lotu
 13  SzczegÃ³Åy lotu
 14  SzczegÃ³Åy lotu
 15  SzczegÃ³Åy lotu
 16  SzczegÃ³Åy lotu
 17  SzczegÃ³Åy lotu
 18  SzczegÃ³Åy lotu
 19  SzczegÃ³Åy lotu
 20  SzczegÃ³Åy lotu
 21  SzczegÃ³Åy lotu
 22  SzczegÃ³Åy lotu
 23  SzczegÃ³Åy lotu
 24  SzczegÃ³Åy lotu
 25  SzczegÃ³Åy lotu
 26  SzczegÃ³Åy lotu
 27  SzczegÃ³Åy lotu
 28  SzczegÃ³Åy lotu
 29  SzczegÃ³Åy lotu
 30  SzczegÃ³Åy lotu
 31  SzczegÃ³Åy lotu
 32  SzczegÃ³Åy lotu
 33  SzczegÃ³Åy lotu
 34  SzczegÃ³Åy lotu
 35  SzczegÃ³Åy lotu
 36  SzczegÃ³Åy lotu
 37  SzczegÃ³Åy lotu
 38  SzczegÃ³Åy lotu
 39  SzczegÃ³Åy lotu
 40  SzczegÃ³Åy lotu  ,
     RozkÅ.                Kierunek Numer lotu  Status        Unnamed: 4
 0     00:25             DUBAJ (DXB)    FZ 1784     NaN  SzczegÃ³Åy lotu
 1     05:30         BARCELONA (BCN)    W6 2047     NaN  SzczegÃ³Åy lotu
 2     05:30          TEL AVIV (TLV)    W6 2097     NaN  SzczegÃ³Åy lotu
 3     05:35          WARSZAWA (WAW)    LO 3910     NaN  SzczegÃ³Åy lotu
 4     05:45         KOPENHAGA (CPH)    FR 2724     NaN  SzczegÃ³Åy lotu
 ..      ...                     ...        ...     ...               ...
 122   21:30            DUBLIN (DUB)    FR 2024     NaN  SzczegÃ³Åy lotu
 123   21:45  MEDIOLAN BERGAMO (BGY)    FR 3505     NaN  SzczegÃ³Åy lotu
 124   21:50   OSLO GARDERMOEN (OSL)    DY 1043     NaN  SzczegÃ³Åy lotu
 125   22:10         NEWCASTLE (NCL)     FR 451     NaN  SzczegÃ³Åy lotu
 126   23:00             DUBAJ (DXB)    FZ 1786     NaN  SzczegÃ³Åy lotu

 [127 rows x 5 columns]]

In [48]:
tables = pd.read_html("https://www.krakowairport.pl/pl/pasazer/loty/przyloty")
len(tables)

2

In [49]:
df_departures = tables[0]
df_departures = df_departures.drop(columns=["Unnamed: 4"])
df_departures["Arrival or Departure"] = "Departure"

df_departures

,RozkÅ.,Kierunek,Numer lotu,Status,Arrival or Departure
0,13:30,AMSTERDAM (AMS),KL 1325,Oczekiwany 13:35,Departure
1,13:35,CATANIA (CTA),FR 2727,WylÄ dowaÅ 13:02,Departure
2,13:55,ZURYCH (ZRH),LX 1370,WylÄ dowaÅ 13:40,Departure
3,13:55,TEL AVIV (TLV),W6 2098,Oczekiwany 14:18,Departure
4,14:00,WIEDEÅ (VIE),OS 679,WylÄ dowaÅ 13:37,Departure
5,14:20,WARSZAWA (WAW),LO 3905,Oczekiwany 14:21,Departure
6,14:40,PARYÅ» BEAUVAIS (BVA),FR 3436,Oczekiwany 14:41,Departure
7,14:55,CAGLIARI (CAG),FR 4425,Oczekiwany 14:35,Departure
8,15:10,AMMAN (AMM),FR 1478,Oczekiwany 14:52,Departure
9,15:20,LONDYN LUTON (LTN),FR 1813,Oczekiwany 14:57,Departure
10,15:25,BAZYLEA (BSL),W6 2030,NaN,Departure
11,15:40,STAVANGER (SVG),W6 2044,NaN,Departure
12,16:00,WARSZAWA (WAW),LO 3919,NaN,Departure
13,16:25,BRUKSELA CHARLEROI (CRL),FR 4934,NaN,Departure
14,16:50,BIRMINGHAM (BHX),FR 1465,NaN,Departure
15,16:50,MONACHIUM (MUC),LH 1624,NaN,Departure
16,16:55,TENERIFE SOUTH (TFS),FR 2654,Oczekiwany 17:16,Departure
17,17:00,AMSTERDAM (AMS),KL 1327,NaN,Departure
18,17:05,LEEDS BRADFORD (LBA),FR 2332,NaN,Departure
19,17:15,KOPENHAGA (CPH),FR 2725,NaN,Departure
20,17:15,EINDHOVEN (EIN),W6 2076,NaN,Departure
21,17:30,WARSZAWA (WAW),LO 3923,NaN,Departure
22,17:50,PORTO (OPO),FR 3048,NaN,Departure
23,17:55,MALTA (MLA),FR 7114,NaN,Departure
24,18:00,OSLO GARDERMOEN (OSL),W6 2034,NaN,Departure
25,18:05,HELSINKI (HEL),AY 1165,NaN,Departure
26,18:20,FRANKFURT (FRA),LH 1368,NaN,Departure
27,18:45,MANCHESTER (MAN),FR 2141,NaN,Departure
28,18:50,AMSTERDAM (AMS),KL 1329,NaN,Departure
29,19:00,MANCHESTER (MAN),EZY 2263,NaN,Departure
30,19:00,PAFOS (PFO),FR 5086,NaN,Departure
31,19:10,PARYÅ» (CDG),EJU 4667,NaN,Departure
32,19:10,BARCELONA (BCN),FR 3035,NaN,Departure
33,19:35,OSLO GARDERMOEN (OSL),DY 8434,NaN,Departure
34,19:50,LONDYN GATWICK (LGW),EZY 8823,NaN,Departure
35,20:35,BIRMINGHAM (BHX),EZY 6629,NaN,Departure
36,20:45,DUBLIN (DUB),FR 1901,NaN,Departure
37,20:50,WARSZAWA (WAW),LO 3921,NaN,Departure
38,21:15,MALAGA (AGP),FR 2588,NaN,Departure
39,21:20,FUERTEVENTURA (FUE),FR 9836,NaN,Departure
40,21:20,SHARJAH (SHJ),G9 748,NaN,Departure
41,21:50,RZYM CIAMPINO (CIA),FR 1470,NaN,Departure
42,21:55,BERGEN (BGO),W6 2036,NaN,Departure
43,22:00,ABERDEEN (ABZ),FR 8842,NaN,Departure
44,22:20,LARNAKA (LCA),W6 2052,NaN,Departure
45,22:50,PARYÅ» ORLY (ORY),LO 338,NaN,Departure
46,22:55,AMSTERDAM (AMS),KL 1331,NaN,Departure
47,23:10,BARCELONA (BCN),W6 2096,NaN,Departure
48,23:15,FRANKFURT (FRA),LH 1370,NaN,Departure
49,23:25,DUBAJ (DXB),FZ 1783,NaN,Departure
50,23:30,GRAN CANARIA (LPA),FR 8692,NaN,Departure
51,23:35,LONDYN STANSTED (STN),FR 2362,NaN,Departure
52,23:35,MONACHIUM (MUC),LH 1626,NaN,Departure
53,23:35,WIEDEÅ (VIE),OS 683,NaN,Departure
54,23:35,RZYM FIUMICINO (FCO),W6 2062,NaN,Departure
55,23:45,ABU ZABI (AUH),W6 2094,NaN,Departure
56,23:50,WARSZAWA (WAW),LO 3911,NaN,Departure
57,23:55,MEDIOLAN BERGAMO (BGY),FR 888,NaN,Departure
58,23:55,LONDYN GATWICK (LGW),W6 2008,NaN,Departure

In [50]:
# Function to translate text
def translate_text(text):
    try:
        return GoogleTranslator(source='pl', target='en').translate(text)
    except Exception as e:
        print(f"Error translating '{text}': {e}")
        return text

# Apply to all cells
df_departures = df_departures.applymap(translate_text)

df_departures = df_departures.rename(columns={"RozkÅ.": "Schedule",
               "Kierunek": "Direction",
               "Numer lotu": "Flight Number"
               })

df_departures.head()

/var/folders/3w/05xwp7qj761gvqj6rcry6n700000gp/T/ipykernel_60868/686232771.py:10: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_departures = df_departures.applymap(translate_text)

Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated

,Schedule,Direction,Flight Number,Status,Arrival or Departure
0,1:30 p.m,AMSTERDAM (AMS),KL 1325,Expected 13:35,Departure
1,13:35,CATANIA (CTA),FR 2727,Landed 13:02,Departure
2,13:55,ZURICH (ZRH),LX 1370,Landed 1:40 p.m,Departure
3,13:55,TEL AVIV (TLV),W6 2098,Expected 14:18,Departure
4,14:00,VIENNA (VIE),OS 679,Landed 13:37,Departure

In [51]:
flights_krk = pd.concat([df_arrivals, df_departures])
flights_krk

   Schedule             Direction Flight Number Status Arrival or Departure
0     00:05          AGADIR (AGA)       FR 9279    NaN              Arrival
1     00:45          LISBON (NOV)       FR 4024    NaN              Arrival
2     08:10        HELSINKI (HEL)       AY 1161    NaN              Arrival
3     08:40         ANTALIA (AYT)        XQ 432    NaN              Arrival
4     08:45           BASEL (BSL)      EZS 1283    NaN              Arrival
..      ...                   ...           ...    ...                  ...
54    23:35   ROME FUMICINO (FCO)       W6 2062    NaN            Departure
55    23:45       ABU DHABI (AUH)       W6 2094    NaN            Departure
56    23:50          WARSAW (WAW)       LO 3911    NaN            Departure
57    23:55   MILAN BERGAMO (BGY)        FR 888    NaN            Departure
58    23:55  LONDON GATWICK (LGW)       W6 2008    NaN            Departure

[153 rows x 5 columns]

In [ ]:
flights_krk.to_csv("flights_krk.csv", index=False)