In [15]:
# Import packages
import pandas as pd

In [16]:
# Load the dataset
df = pd.read_html("https://www.krakowairport.pl/pl/pasazer/loty/przyloty")
df

[   RozkÅ.                Kierunek Numer lotu             Status  \
 0    21:50     RZYM CIAMPINO (CIA)    FR 1470   Oczekiwany 21:51
 1    21:55            BERGEN (BGO)    W6 2036  WylÄ
 dowaÅ 21:42
 2    22:00          ABERDEEN (ABZ)    FR 8842  WylÄ
 dowaÅ 21:34
 3    22:20           LARNAKA (LCA)    W6 2052   Oczekiwany 22:33
 4    22:50       PARYÅ» ORLY (ORY)     LO 338   Oczekiwany 22:30
 5    22:55         AMSTERDAM (AMS)    KL 1331   Oczekiwany 23:14
 6    23:10         BARCELONA (BCN)    W6 2096   Oczekiwany 22:48
 7    23:15         FRANKFURT (FRA)    LH 1370                NaN
 8    23:25             DUBAJ (DXB)    FZ 1783   Oczekiwany 22:43
 9    23:30      GRAN CANARIA (LPA)    FR 8692   Oczekiwany 23:27
 10   23:35   LONDYN STANSTED (STN)    FR 2362   Oczekiwany 23:10
 11   23:35         MONACHIUM (MUC)    LH 1626                NaN
 12   23:35           WIEDEÅ (VIE)     OS 683                NaN
 13   23:35    RZYM FIUMICINO (FCO)    W6 2062                NaN
 14   23:45          ABU ZABI (AUH)    W6 2094   Oczekiwany 01:01
 15   23:50          WARSZAWA (WAW)    LO 3911                NaN
 16   23:55  MEDIOLAN BERGAMO (BGY)     FR 888                NaN
 17   23:55    LONDYN GATWICK (LGW)    W6 2008   Oczekiwany 23:39

           Unnamed: 4
 0   SzczegÃ³Åy lotu
 1   SzczegÃ³Åy lotu
 2   SzczegÃ³Åy lotu
 3   SzczegÃ³Åy lotu
 4   SzczegÃ³Åy lotu
 5   SzczegÃ³Åy lotu
 6   SzczegÃ³Åy lotu
 7   SzczegÃ³Åy lotu
 8   SzczegÃ³Åy lotu
 9   SzczegÃ³Åy lotu
 10  SzczegÃ³Åy lotu
 11  SzczegÃ³Åy lotu
 12  SzczegÃ³Åy lotu
 13  SzczegÃ³Åy lotu
 14  SzczegÃ³Åy lotu
 15  SzczegÃ³Åy lotu
 16  SzczegÃ³Åy lotu
 17  SzczegÃ³Åy lotu  ,
     RozkÅ.               Kierunek Numer lotu            Status  \
 0     00:05           AGADIR (AGA)    FR 9279  Oczekiwany 23:56
 1     00:45          LIZBONA (LIS)    FR 4024  Oczekiwany 00:18
 2     08:10         HELSINKI (HEL)    AY 1161               NaN
 3     08:40          ANTALIA (AYT)     XQ 432               NaN
 4     08:45          BAZYLEA (BSL)   EZS 1283               NaN
 ..      ...                    ...        ...               ...
 120   23:35           MALAGA (AGP)    W6 2074               NaN
 121   23:40  WENECJA TREVISO (TSF)    FR 3038               NaN
 122   23:50         WARSZAWA (WAW)    LO 3911               NaN
 123   23:55   LONDYN GATWICK (LGW)    W6 2008               NaN
 124   23:55         ABU ZABI (AUH)    W6 2094               NaN

            Unnamed: 4
 0    SzczegÃ³Åy lotu
 1    SzczegÃ³Åy lotu
 2    SzczegÃ³Åy lotu
 3    SzczegÃ³Åy lotu
 4    SzczegÃ³Åy lotu
 ..                ...
 120  SzczegÃ³Åy lotu
 121  SzczegÃ³Åy lotu
 122  SzczegÃ³Åy lotu
 123  SzczegÃ³Åy lotu
 124  SzczegÃ³Åy lotu

 [125 rows x 5 columns]]

In [17]:
# The dataset on our website is saved as tables, we need to check with how many we're dealing with.
tables = pd.read_html("https://www.krakowairport.pl/pl/pasazer/loty/przyloty")
len(tables)

2

In [18]:
tables[0] # These are arrivals for the same day.

,RozkÅ.,Kierunek,Numer lotu,Status,Unnamed: 4
0,21:50,RZYM CIAMPINO (CIA),FR 1470,Oczekiwany 21:51,SzczegÃ³Åy lotu
1,21:55,BERGEN (BGO),W6 2036,WylÄ dowaÅ 21:42,SzczegÃ³Åy lotu
2,22:00,ABERDEEN (ABZ),FR 8842,WylÄ dowaÅ 21:34,SzczegÃ³Åy lotu
3,22:20,LARNAKA (LCA),W6 2052,Oczekiwany 22:33,SzczegÃ³Åy lotu
4,22:50,PARYÅ» ORLY (ORY),LO 338,Oczekiwany 22:30,SzczegÃ³Åy lotu
5,22:55,AMSTERDAM (AMS),KL 1331,Oczekiwany 23:14,SzczegÃ³Åy lotu
6,23:10,BARCELONA (BCN),W6 2096,Oczekiwany 22:48,SzczegÃ³Åy lotu
7,23:15,FRANKFURT (FRA),LH 1370,NaN,SzczegÃ³Åy lotu
8,23:25,DUBAJ (DXB),FZ 1783,Oczekiwany 22:43,SzczegÃ³Åy lotu
9,23:30,GRAN CANARIA (LPA),FR 8692,Oczekiwany 23:27,SzczegÃ³Åy lotu
10,23:35,LONDYN STANSTED (STN),FR 2362,Oczekiwany 23:10,SzczegÃ³Åy lotu
11,23:35,MONACHIUM (MUC),LH 1626,NaN,SzczegÃ³Åy lotu
12,23:35,WIEDEÅ (VIE),OS 683,NaN,SzczegÃ³Åy lotu
13,23:35,RZYM FIUMICINO (FCO),W6 2062,NaN,SzczegÃ³Åy lotu
14,23:45,ABU ZABI (AUH),W6 2094,Oczekiwany 01:01,SzczegÃ³Åy lotu
15,23:50,WARSZAWA (WAW),LO 3911,NaN,SzczegÃ³Åy lotu
16,23:55,MEDIOLAN BERGAMO (BGY),FR 888,NaN,SzczegÃ³Åy lotu
17,23:55,LONDYN GATWICK (LGW),W6 2008,Oczekiwany 23:39,SzczegÃ³Åy lotu

In [19]:
tables[1] # These are arrivals for the next day.

,RozkÅ.,Kierunek,Numer lotu,Status,Unnamed: 4
0,00:05,AGADIR (AGA),FR 9279,Oczekiwany 23:56,SzczegÃ³Åy lotu
1,00:45,LIZBONA (LIS),FR 4024,Oczekiwany 00:18,SzczegÃ³Åy lotu
2,08:10,HELSINKI (HEL),AY 1161,NaN,SzczegÃ³Åy lotu
3,08:40,ANTALIA (AYT),XQ 432,NaN,SzczegÃ³Åy lotu
4,08:45,BAZYLEA (BSL),EZS 1283,NaN,SzczegÃ³Åy lotu
...,...,...,...,...,...
120,23:35,MALAGA (AGP),W6 2074,NaN,SzczegÃ³Åy lotu
121,23:40,WENECJA TREVISO (TSF),FR 3038,NaN,SzczegÃ³Åy lotu
122,23:50,WARSZAWA (WAW),LO 3911,NaN,SzczegÃ³Åy lotu
123,23:55,LONDYN GATWICK (LGW),W6 2008,NaN,SzczegÃ³Åy lotu
124,23:55,ABU ZABI (AUH),W6 2094,NaN,SzczegÃ³Åy lotu

In [20]:
df_arrivals = tables[0] # I decided that my website shows flights for the current day.
df_arrivals

,RozkÅ.,Kierunek,Numer lotu,Status,Unnamed: 4
0,21:50,RZYM CIAMPINO (CIA),FR 1470,Oczekiwany 21:51,SzczegÃ³Åy lotu
1,21:55,BERGEN (BGO),W6 2036,WylÄ dowaÅ 21:42,SzczegÃ³Åy lotu
2,22:00,ABERDEEN (ABZ),FR 8842,WylÄ dowaÅ 21:34,SzczegÃ³Åy lotu
3,22:20,LARNAKA (LCA),W6 2052,Oczekiwany 22:33,SzczegÃ³Åy lotu
4,22:50,PARYÅ» ORLY (ORY),LO 338,Oczekiwany 22:30,SzczegÃ³Åy lotu
5,22:55,AMSTERDAM (AMS),KL 1331,Oczekiwany 23:14,SzczegÃ³Åy lotu
6,23:10,BARCELONA (BCN),W6 2096,Oczekiwany 22:48,SzczegÃ³Åy lotu
7,23:15,FRANKFURT (FRA),LH 1370,NaN,SzczegÃ³Åy lotu
8,23:25,DUBAJ (DXB),FZ 1783,Oczekiwany 22:43,SzczegÃ³Åy lotu
9,23:30,GRAN CANARIA (LPA),FR 8692,Oczekiwany 23:27,SzczegÃ³Åy lotu
10,23:35,LONDYN STANSTED (STN),FR 2362,Oczekiwany 23:10,SzczegÃ³Åy lotu
11,23:35,MONACHIUM (MUC),LH 1626,NaN,SzczegÃ³Åy lotu
12,23:35,WIEDEÅ (VIE),OS 683,NaN,SzczegÃ³Åy lotu
13,23:35,RZYM FIUMICINO (FCO),W6 2062,NaN,SzczegÃ³Åy lotu
14,23:45,ABU ZABI (AUH),W6 2094,Oczekiwany 01:01,SzczegÃ³Åy lotu
15,23:50,WARSZAWA (WAW),LO 3911,NaN,SzczegÃ³Åy lotu
16,23:55,MEDIOLAN BERGAMO (BGY),FR 888,NaN,SzczegÃ³Åy lotu
17,23:55,LONDYN GATWICK (LGW),W6 2008,Oczekiwany 23:39,SzczegÃ³Åy lotu

In [21]:
df_arrivals = df_arrivals.drop(columns=["Unnamed: 4"]) # I deleted the column with flight details. 
df_arrivals

   RozkÅ.                Kierunek Numer lotu             Status
0    21:50     RZYM CIAMPINO (CIA)    FR 1470   Oczekiwany 21:51
1    21:55            BERGEN (BGO)    W6 2036  WylÄ
dowaÅ 21:42
2    22:00          ABERDEEN (ABZ)    FR 8842  WylÄ
dowaÅ 21:34
3    22:20           LARNAKA (LCA)    W6 2052   Oczekiwany 22:33
4    22:50       PARYÅ» ORLY (ORY)     LO 338   Oczekiwany 22:30
5    22:55         AMSTERDAM (AMS)    KL 1331   Oczekiwany 23:14
6    23:10         BARCELONA (BCN)    W6 2096   Oczekiwany 22:48
7    23:15         FRANKFURT (FRA)    LH 1370                NaN
8    23:25             DUBAJ (DXB)    FZ 1783   Oczekiwany 22:43
9    23:30      GRAN CANARIA (LPA)    FR 8692   Oczekiwany 23:27
10   23:35   LONDYN STANSTED (STN)    FR 2362   Oczekiwany 23:10
11   23:35         MONACHIUM (MUC)    LH 1626                NaN
12   23:35           WIEDEÅ (VIE)     OS 683                NaN
13   23:35    RZYM FIUMICINO (FCO)    W6 2062                NaN
14   23:45          ABU ZABI (AUH)    W6 2094   Oczekiwany 01:01
15   23:50          WARSZAWA (WAW)    LO 3911                NaN
16   23:55  MEDIOLAN BERGAMO (BGY)     FR 888                NaN
17   23:55    LONDYN GATWICK (LGW)    W6 2008   Oczekiwany 23:39

In [22]:
%pip install --quiet deep-translator # The information is retrieved from a Polish website. 
from deep_translator import GoogleTranslator # I decided to translate it to English.

Note: you may need to restart the kernel to use updated packages.

In [23]:
# Function to translate text, courtesy of ChatGPT.
def translate_text(text):
    try:
        return GoogleTranslator(source='pl', target='en').translate(text)
    except Exception as e:
        print(f"Error translating '{text}': {e}")
        return text

df_arrivals = df_arrivals.applymap(translate_text)

/var/folders/3w/05xwp7qj761gvqj6rcry6n700000gp/T/ipykernel_69322/2838358714.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_arrivals = df_arrivals.applymap(translate_text)

Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated

In [24]:
# The function above translates only the values inside the dataframe, so for column names I did it manually.
df_arrivals = df_arrivals.rename(columns={"RozkÅ.": "Time",
               "Kierunek": "Direction",
               "Numer lotu": "Flight Number"
               })

df_arrivals["Arrival or Departure"] = "Arrival" # This dataframe contains arrivals only. 
# But since I'm planning to combine it with departures I created a separate column to clarify which flights are which. 

df_arrivals.head()

,Time,Direction,Flight Number,Status,Arrival or Departure
0,21:50,ROME CIAMPINO (CIA),FR 1470,Expected 21:51,Arrival
1,21:55,BERGEN (BGO),W6 2036,Landed 21:42,Arrival
2,22:00,ABERDEEN (ABZ),FR 8842,Landed 21:34,Arrival
3,22:20,LARNACA (LCA),W6 2052,Expected 22:33,Arrival
4,22:50,PARIS» ORLY (ORY),LO 338,Expected 22:30,Arrival

In [25]:
# Now, I also want to account for the departures. 
df = pd.read_html("https://www.krakowairport.pl/pl/pasazer/loty/odloty")
df

[  RozkÅ.       Kierunek Numer lotu      Status        Unnamed: 4
 0   22:10  SHARJAH (SHJ)     G9 749  Go to gate  SzczegÃ³Åy lotu,
     RozkÅ.                Kierunek Numer lotu        Status        Unnamed: 4
 0     00:25             DUBAJ (DXB)    FZ 1784  Odprawa 9-12  SzczegÃ³Åy lotu
 1     05:30         BARCELONA (BCN)    W6 2047           NaN  SzczegÃ³Åy lotu
 2     05:30          TEL AVIV (TLV)    W6 2097           NaN  SzczegÃ³Åy lotu
 3     05:35          WARSZAWA (WAW)    LO 3910           NaN  SzczegÃ³Åy lotu
 4     05:45         KOPENHAGA (CPH)    FR 2724           NaN  SzczegÃ³Åy lotu
 ..      ...                     ...        ...           ...               ...
 122   21:30            DUBLIN (DUB)    FR 2024           NaN  SzczegÃ³Åy lotu
 123   21:45  MEDIOLAN BERGAMO (BGY)    FR 3505           NaN  SzczegÃ³Åy lotu
 124   21:50   OSLO GARDERMOEN (OSL)    DY 1043           NaN  SzczegÃ³Åy lotu
 125   22:10         NEWCASTLE (NCL)     FR 451           NaN  SzczegÃ³Åy lotu
 126   23:00             DUBAJ (DXB)    FZ 1786           NaN  SzczegÃ³Åy lotu

 [127 rows x 5 columns]]

In [26]:
tables = pd.read_html("https://www.krakowairport.pl/pl/pasazer/loty/przyloty")
len(tables) # Again checking the website structure.

2

In [27]:
# Follow the same steps for the departures. 
df_departures = tables[0] 
df_departures = df_departures.drop(columns=["Unnamed: 4"])
df_departures["Arrival or Departure"] = "Departure"
df_departures

,RozkÅ.,Kierunek,Numer lotu,Status,Arrival or Departure
0,21:50,RZYM CIAMPINO (CIA),FR 1470,Oczekiwany 21:51,Departure
1,21:55,BERGEN (BGO),W6 2036,WylÄ dowaÅ 21:42,Departure
2,22:00,ABERDEEN (ABZ),FR 8842,WylÄ dowaÅ 21:34,Departure
3,22:20,LARNAKA (LCA),W6 2052,Oczekiwany 22:33,Departure
4,22:50,PARYÅ» ORLY (ORY),LO 338,Oczekiwany 22:30,Departure
5,22:55,AMSTERDAM (AMS),KL 1331,Oczekiwany 23:14,Departure
6,23:10,BARCELONA (BCN),W6 2096,Oczekiwany 22:48,Departure
7,23:15,FRANKFURT (FRA),LH 1370,NaN,Departure
8,23:25,DUBAJ (DXB),FZ 1783,Oczekiwany 22:43,Departure
9,23:30,GRAN CANARIA (LPA),FR 8692,Oczekiwany 23:27,Departure
10,23:35,LONDYN STANSTED (STN),FR 2362,Oczekiwany 23:10,Departure
11,23:35,MONACHIUM (MUC),LH 1626,NaN,Departure
12,23:35,WIEDEÅ (VIE),OS 683,NaN,Departure
13,23:35,RZYM FIUMICINO (FCO),W6 2062,NaN,Departure
14,23:45,ABU ZABI (AUH),W6 2094,Oczekiwany 01:01,Departure
15,23:50,WARSZAWA (WAW),LO 3911,NaN,Departure
16,23:55,MEDIOLAN BERGAMO (BGY),FR 888,NaN,Departure
17,23:55,LONDYN GATWICK (LGW),W6 2008,Oczekiwany 23:39,Departure

In [28]:
# Translation
def translate_text(text):
    try:
        return GoogleTranslator(source='pl', target='en').translate(text)
    except Exception as e:
        print(f"Error translating '{text}': {e}")
        return text

df_departures = df_departures.applymap(translate_text)

df_departures = df_departures.rename(columns={"RozkÅ.": "Time",
               "Kierunek": "Direction",
               "Numer lotu": "Flight Number"
               })

df_departures.head()

/var/folders/3w/05xwp7qj761gvqj6rcry6n700000gp/T/ipykernel_69322/4004582849.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_departures = df_departures.applymap(translate_text)

Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated
Error translating 'nan': nan --> text must be a valid text with maximum 5000 character,otherwise it cannot be translated

,Time,Direction,Flight Number,Status,Arrival or Departure
0,21:50,ROME CIAMPINO (CIA),FR 1470,Expected 21:51,Departure
1,21:55,BERGEN (BGO),W6 2036,Landed 21:42,Departure
2,22:00,ABERDEEN (ABZ),FR 8842,Landed 21:34,Departure
3,22:20,LARNACA (LCA),W6 2052,Expected 22:33,Departure
4,22:50,PARIS» ORLY (ORY),LO 338,Expected 22:30,Departure

In [29]:
flights_krk = pd.concat([df_arrivals, df_departures])
flights_krk

,Time,Direction,Flight Number,Status,Arrival or Departure
0,21:50,ROME CIAMPINO (CIA),FR 1470,Expected 21:51,Arrival
1,21:55,BERGEN (BGO),W6 2036,Landed 21:42,Arrival
2,22:00,ABERDEEN (ABZ),FR 8842,Landed 21:34,Arrival
3,22:20,LARNACA (LCA),W6 2052,Expected 22:33,Arrival
4,22:50,PARIS» ORLY (ORY),LO 338,Expected 22:30,Arrival
5,22:55,AMSTERDAM (AMS),KL 1331,Expected 23:14,Arrival
6,23:10,BARCELONA (BCN),W6 2096,Expected 22:48,Arrival
7,23:15,FRANKFURT (FRA),LH 1370,NaN,Arrival
8,23:25,DUBAI (DXB),FZ 1783,Expected 22:43,Arrival
9,23:30,GRAN CANARIA (LPA),FR 8692,Expected 23:27,Arrival
10,23:35,LONDON STANSTED (STN),FR 2362,Expected 23:10,Arrival
11,23:35,MUNICH (MUC),LH 1626,NaN,Arrival
12,23:35,VIENNA (VIE),OS 683,NaN,Arrival
13,23:35,ROME FUMICINO (FCO),W6 2062,NaN,Arrival
14,23:45,ABU DHABI (AUH),W6 2094,Expected 01:01,Arrival
15,23:50,WARSAW (WAW),LO 3911,NaN,Arrival
16,23:55,MILAN BERGAMO (BGY),FR 888,NaN,Arrival
17,23:55,LONDON GATWICK (LGW),W6 2008,Expected 23:39,Arrival
0,21:50,ROME CIAMPINO (CIA),FR 1470,Expected 21:51,Departure
1,21:55,BERGEN (BGO),W6 2036,Landed 21:42,Departure
2,22:00,ABERDEEN (ABZ),FR 8842,Landed 21:34,Departure
3,22:20,LARNACA (LCA),W6 2052,Expected 22:33,Departure
4,22:50,PARIS» ORLY (ORY),LO 338,Expected 22:30,Departure
5,22:55,AMSTERDAM (AMS),KL 1331,Expected 23:14,Departure
6,23:10,BARCELONA (BCN),W6 2096,Expected 22:48,Departure
7,23:15,FRANKFURT (FRA),LH 1370,NaN,Departure
8,23:25,DUBAI (DXB),FZ 1783,Expected 22:43,Departure
9,23:30,GRAN CANARIA (LPA),FR 8692,Expected 23:27,Departure
10,23:35,LONDON STANSTED (STN),FR 2362,Expected 23:10,Departure
11,23:35,MUNICH (MUC),LH 1626,NaN,Departure
12,23:35,VIENNA (VIE),OS 683,NaN,Departure
13,23:35,ROME FUMICINO (FCO),W6 2062,NaN,Departure
14,23:45,ABU DHABI (AUH),W6 2094,Expected 01:01,Departure
15,23:50,WARSAW (WAW),LO 3911,NaN,Departure
16,23:55,MILAN BERGAMO (BGY),FR 888,NaN,Departure
17,23:55,LONDON GATWICK (LGW),W6 2008,Expected 23:39,Departure

In [30]:
# Because I want to color code the flights that are cancelled or delayed, I created a separate column. 
# That way I can color code it in Datawrapper. 

def classify_flight(status_text):
    if isinstance(status_text, str):
        status_text = status_text.lower()
        if "cancel" in status_text:
            return "Cancelled"
        if "delay" in status_text:
            return "Delayed"
    return ""  

flights_krk["Delayed/ Cancelled"] = flights_krk["Status"].apply(classify_flight)
flights_krk

,Time,Direction,Flight Number,Status,Arrival or Departure,Delayed/ Cancelled
0,21:50,ROME CIAMPINO (CIA),FR 1470,Expected 21:51,Arrival,
1,21:55,BERGEN (BGO),W6 2036,Landed 21:42,Arrival,
2,22:00,ABERDEEN (ABZ),FR 8842,Landed 21:34,Arrival,
3,22:20,LARNACA (LCA),W6 2052,Expected 22:33,Arrival,
4,22:50,PARIS» ORLY (ORY),LO 338,Expected 22:30,Arrival,
5,22:55,AMSTERDAM (AMS),KL 1331,Expected 23:14,Arrival,
6,23:10,BARCELONA (BCN),W6 2096,Expected 22:48,Arrival,
7,23:15,FRANKFURT (FRA),LH 1370,NaN,Arrival,
8,23:25,DUBAI (DXB),FZ 1783,Expected 22:43,Arrival,
9,23:30,GRAN CANARIA (LPA),FR 8692,Expected 23:27,Arrival,
10,23:35,LONDON STANSTED (STN),FR 2362,Expected 23:10,Arrival,
11,23:35,MUNICH (MUC),LH 1626,NaN,Arrival,
12,23:35,VIENNA (VIE),OS 683,NaN,Arrival,
13,23:35,ROME FUMICINO (FCO),W6 2062,NaN,Arrival,
14,23:45,ABU DHABI (AUH),W6 2094,Expected 01:01,Arrival,
15,23:50,WARSAW (WAW),LO 3911,NaN,Arrival,
16,23:55,MILAN BERGAMO (BGY),FR 888,NaN,Arrival,
17,23:55,LONDON GATWICK (LGW),W6 2008,Expected 23:39,Arrival,
0,21:50,ROME CIAMPINO (CIA),FR 1470,Expected 21:51,Departure,
1,21:55,BERGEN (BGO),W6 2036,Landed 21:42,Departure,
2,22:00,ABERDEEN (ABZ),FR 8842,Landed 21:34,Departure,
3,22:20,LARNACA (LCA),W6 2052,Expected 22:33,Departure,
4,22:50,PARIS» ORLY (ORY),LO 338,Expected 22:30,Departure,
5,22:55,AMSTERDAM (AMS),KL 1331,Expected 23:14,Departure,
6,23:10,BARCELONA (BCN),W6 2096,Expected 22:48,Departure,
7,23:15,FRANKFURT (FRA),LH 1370,NaN,Departure,
8,23:25,DUBAI (DXB),FZ 1783,Expected 22:43,Departure,
9,23:30,GRAN CANARIA (LPA),FR 8692,Expected 23:27,Departure,
10,23:35,LONDON STANSTED (STN),FR 2362,Expected 23:10,Departure,
11,23:35,MUNICH (MUC),LH 1626,NaN,Departure,
12,23:35,VIENNA (VIE),OS 683,NaN,Departure,
13,23:35,ROME FUMICINO (FCO),W6 2062,NaN,Departure,
14,23:45,ABU DHABI (AUH),W6 2094,Expected 01:01,Departure,
15,23:50,WARSAW (WAW),LO 3911,NaN,Departure,
16,23:55,MILAN BERGAMO (BGY),FR 888,NaN,Departure,
17,23:55,LONDON GATWICK (LGW),W6 2008,Expected 23:39,Departure,

In [31]:
flights_krk.to_csv("flights_krk.csv", index=False)